img.profile {
    border-radius: 100%;
    width: 10%;
    height:10%;
    margin-left: 80px;
}

h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    background-color: #63b3ed;
    color: #FFFFFF;
}